definition.json
{"name":"47309c10-b43f-427c-b679-32bc27c9d5c0","id":"/providers/Microsoft.Flow/flows/47309c10-b43f-427c-b679-32bc27c9d5c0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Archive Investment Tracker","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"2109a8a1-49e8-4603-b7da-5678e1a9d9b0","type":"User","tenantId":"42fd9015-de4d-4223-a368-baeacab48927"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-04-13T15:06:05.2854519Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"1226602a-a393-4837-80a4-24434a10bac2"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Determine_Month":{"runAfter":{},"metadata":{"operationMetadataId":"05f75d32-b0bb-4b0f-ac53-f2025b8711e7"},"type":"Compose","inputs":"@formatDateTime(utcNow(),'MMM')"},"Determine_Year":{"runAfter":{"Determine_Month":["Succeeded"]},"metadata":{"operationMetadataId":"06e72a21-f9b8-49da-93c9-f087c602d53e"},"type":"Compose","inputs":"@formatDateTime(utcNow(),'yyyy')"},"Determine_date_and_time_for_new_filename":{"runAfter":{"Determine_Year":["Succeeded"]},"metadata":{"operationMetadataId":"5fdae6ff-b990-4f41-9a01-bd454eb4f23d"},"type":"Compose","inputs":"@formatDateTime(convertFromUtc(utcNow(),'Eastern Standard Time'),'dd/MMM/yyyy hh:mm:ss')"},"Initialize_variable":{"runAfter":{"Determine_date_and_time_for_new_filename":["Succeeded"]},"metadata":{"operationMetadataId":"7573d64d-96e9-48e8-88f5-8da8a38a3166"},"type":"InitializeVariable","inputs":{"variables":[{"name":"NewFileName","type":"string","value":"SF Investment Tracker - @{outputs('Determine_date_and_time_for_new_filename')}.xlsx"}]}},"Get_file_content":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"%252fFinancial%2bTracking%252fSF%2bInvestment%2bTracker.xlsx":"/Financial Tracking/SF Investment Tracker.xlsx","operationMetadataId":"7701eebc-2e01-4a25-8781-fa8859d5f616"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://022gc.sharepoint.com/sites/ManagementandOversight-InvestmentPlanningHCSolutionsFund-SCF","id":"%252fFinancial%2bTracking%252fSF%2bInvestment%2bTracker.xlsx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"f157e579-a93e-4582-a198-8956a870c023"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://022gc.sharepoint.com/sites/ManagementandOversight-InvestmentPlanningHCSolutionsFund-SCF","folderPath":"/Financial Tracking/Archive/@{outputs('Determine_Year')}/@{outputs('Determine_Month')}","name":"@variables('NewFileName')","body":"@body('Get_file_content')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"1f5c799f-79ca-4df0-894a-0cebc9ab4f08"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"945861158cc048fab0b0fff0bf57575b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}